<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TV Remote
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TV</ion-title>
    </ion-toolbar>
  </ion-header>




  <div id="container">

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-button (click) = "onAction('TV_POWER_ON_OFF')" color="primary">TV On Off</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-items-start">
        <ion-button (click) = "onAction('TV_MENU')" color="primary">Menu</ion-button>
      </ion-col>
      <ion-col class="ion-align-items-start">
        <ion-button (click) = "onAction('TV_SMART_MENU_2')" color="primary">Smart Config</ion-button>
      </ion-col>
      <ion-col class="ion-align-items-start">
        <ion-button (click) = "onAction('TV_SOURCE')" color="primary">Source</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-items-start">
        <ion-button (click) = "onAction('TV_SELECT_LEFT')" color="primary">Left</ion-button>
      </ion-col>
      <ion-col class="ion-align-items-start">
        <ion-button (click) = "onAction('TV_SELECT_RIGHT')" color="primary">Right</ion-button>
      </ion-col>
      <ion-col class="ion-align-items-start">
        <ion-button (click) = "onAction('TV_SELECT_UP')" color="primary">Up</ion-button>
      </ion-col>
      <ion-col class="ion-align-items-start">
        <ion-button (click) = "onAction('TV_SELECT_DOWN')" color="primary">Down</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-items-start">
        <ion-button (click) = "onAction('TV_OK')" color="primary">OK</ion-button>
      </ion-col>
      <ion-col class="ion-align-items-start">
        <ion-button (click) = "onAction('TV_BACK')" color="primary">Back</ion-button>
      </ion-col>
      <ion-col class="ion-align-items-start">
        <ion-button (click) = "onAction('TV_NETFLIX')" color="primary">NETFLIX</ion-button>
      </ion-col>
    </ion-row>



    <ion-row>
      <ion-col class="ion-align-items-start">
        <ion-button (click) = "onAction('TV_VOLUME_UP')" color="primary">Volume Up</ion-button>
      </ion-col>
      <ion-col class="ion-align-items-start">
        <ion-button (click) = "onAction('TV_VOLUME_DOWN')" color="primary">Volume Down</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click) = "onAction('ATOL_SELECT_UP')" color="primary">Select UP</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click) = "onAction('ATOL_SELECT_DOWN')" color="primary">Select Down</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click) = "onAction('ATOL_CD')" color="primary">CD</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click) = "onAction('ATOL_AUX')" color="primary">AUX</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click) = "onAction('ATOL_DVD')" color="primary">DVD</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click) = "onAction('ATOL_SELECT_MUTE')" color="primary">MUTE</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  </div>


</ion-content>
